.app {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* styling the header */
.app__header {
  width: 100%;
  margin-top: 40px;
}

.header {
  max-width: 1178px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: var(white);
  box-shadow: 0px 1px 20px rgba(222, 222, 222, 0.56);
  border-radius: 10px;
  padding: 20px 50px;
  align-self: center;
}
.header__links > ul {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
}
.header__links li {
  font-size: 24px;
  line-height: 29px;
  color: var(--black);
}
.header__logo {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 53px;
  position: relative;
}

.logo__vector {
  position: absolute;
  right: -90px;
  top: 40px;
}

/* styling the home Page  */
.app__content {
  height: calc(100% - 173px);
  display: grid;
  place-items: center;
  width: 100%;
}
.content {
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 20px;
  align-items: center;
  text-align: center;
}
.app__content h1 > span {
  color: #606b99;
  text-shadow: 0px 0px 20px rgba(96, 107, 153, 0.12) !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
}
.sub__header {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #08090d;
}
.detaill {
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  color: var(--black);
}
.content__button {
  display: flex;
  justify-content: space-between;
  width: 305px;
}

.button__about {
  background-color: var(--violet);
  filter: drop-shadow(0px 0px 200px rgba(96, 107, 153, 0.12));
  width: max-content;
}
.button__work {
  background-color: var(--secondary-orange);
}

/* styling the about section */

.app__about {
  width: 100vw;
}
.about {
  max-width: 1170px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.about__content {
  max-width: calc(100% - 60px);
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding-top: 207px;
}
.about__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 559px;
  row-gap: 60px;
  text-align: start;
}
.about__left h3 {
  color: #08090d;
}
.left,
.right {
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--secondary-black);
}
.circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid var(--secondary-black);
  margin-bottom: 9px;
}
/* Styling the error message  */
.app__404 {
  display: grid;
  place-content: center;
  place-items: center;
}
.error__message {
  display: flex;
  max-width: 1170px;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-top: 142px;
}
.message__left {
  width: 611px;
}

/* styling the contact Page  */
.app__contact {
  max-width: 1170px;
  margin: auto;
  width: 100vw;
  padding-top: 42px;
}
.contact__top {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.contact__form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 1178px;
  margin-inline: auto;
  display: flex;
  align-items: center;
}
.contact__content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.contact__formulaire > form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-items: flex-end;
}
.contact__adresse {
  width: 303px;
  display: flex;
  flex-direction: column;
  row-gap: 22px;
}

.contact__formulaire {
  padding: 40px 42px 48px 42px;
  background: #ffffff;
  box-shadow: 5px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 483px;
  height: 452px;
  position: relative;
  top: -65px;
}
.link {
  color: var(--black);
}

/* styling the work Page  */

.work__content {
  padding: 45px;
  width: 980px;
  height: 978px;
  box-shadow: 5px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.work__content > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  position: relative;
}
.work__content > ul > li {
  background-color: #c4c4c4;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.work__content > ul > li:nth-child(4n) {
  position: relative;
  top: -60px;
}
.more {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: var(--black);
}
